$overview-slide-distance = 2000px
$overview-space-between-slides = $overview-slide-distance / 83.333px

@media screen
  .bespoke-overview
    & .bespoke-parent
      display inline-block

    .bespoke-slide
      position absolute
      transform translate3d(0, 0, - $overview-slide-distance)
      opacity 1
      border 4px solid silver
      background-color rgba(white, .2)

      &:hover
        border-color steelblue

      //& > *
      //  pointer-events none

      &.bespoke-active
        border-color steelblue


      &.bespoke-inactive.bespoke-before:not(.bespoke-before-1):not(.bespoke-before-2)
        display flex
      &.bespoke-inactive.bespoke-after:not(.bespoke-after-1):not(.bespoke-after-2)
        display flex


    .bespoke-bullet-inactive
      display list-item
      opacity initial
      transform initial

    for i in 1..80
      .bespoke-slide.bespoke-after-{i}
        transform translate3d(i*($slide-width + $overview-space-between-slides), 0, - $overview-slide-distance)
      .bespoke-slide.bespoke-before-{i}
        transform translate3d(i*($slide-width + $overview-space-between-slides)*(-1), 0, - $overview-slide-distance)
