$overview-slide-distance = 2000px
$overview-space-between-slides = $overview-slide-distance / 83.333px

@media screen
  .bespoke-simple-overview
    & .bespoke-parent
      display inline-block

    .bespoke-slide
      position absolute
      transform translate3d(0, 0, - $overview-slide-distance)
      opacity 1
      outline 4px solid silver
      background-color rgba(white, .2)

      &:hover
        outline-color steelblue

      &.bespoke-active
        outline-color steelblue


      &.bespoke-inactive.bespoke-before:not(.bespoke-before-1):not(.bespoke-before-2)
        display flex
      &.bespoke-inactive.bespoke-after:not(.bespoke-after-1):not(.bespoke-after-2)
        display flex


    .bespoke-bullet-inactive
      display list-item
      opacity initial
      transform initial

    .bespoke-slide.bespoke-after
      display none
      transform translate3d(5*($slide-width + $overview-space-between-slides), 0, - $overview-slide-distance)
    .bespoke-slide.bespoke-before
      display none
      transform translate3d(5*($slide-width + $overview-space-between-slides)*(-1), 0, - $overview-slide-distance)

    &.zelda-transition
      .bespoke-slide.bespoke-after
        transform translate3d(5*($slide-width + $overview-space-between-slides), 100%, - $overview-slide-distance)
      .bespoke-slide.bespoke-before
        transform translate3d(5*($slide-width + $overview-space-between-slides)*(-1), 100%, - $overview-slide-distance)

    for i in 1..3
      .bespoke-slide.bespoke-after-{i}
        display flex
        transform translate3d(i*($slide-width + $overview-space-between-slides), 0, - $overview-slide-distance)
      .bespoke-slide.bespoke-before-{i}
        display flex
        transform translate3d(i*($slide-width + $overview-space-between-slides)*(-1), 0, - $overview-slide-distance)
      &.zelda-transition
        .bespoke-slide.bespoke-after-{i}
          display flex
          transform translate3d(i*($slide-width + $overview-space-between-slides), 100%, - $overview-slide-distance)
        .bespoke-slide.bespoke-before-{i}
          display flex
          transform translate3d(i*($slide-width + $overview-space-between-slides)*(-1), 100%, - $overview-slide-distance)

    &.zelda-transition
      .bespoke-slide
        transform translate3d(0, 100%, - $overview-slide-distance)
        background-color inherit
