$print-body-padding = .1in
$print-page-margin = .79in
$print-a4-width = 8.26771654in
$print-a4-height = 11.6929134in

$print-portrait-width = $print-a4-width - (2*$print-body-padding) - (2*$print-page-margin)
$print-landscape-width = $print-a4-height - (2*$print-body-padding) - (2*$print-page-margin)

$child-zoom = .65
$grand-child-zoom = .85

@media print
  *
    background transparent !important
    color #000 !important
    text-shadow none !important

  html
    overflow visible !important
    height auto !important

  body
    margin 0 !important
    padding $print-body-padding !important
    line-height 1em !important
    overflow visible !important
    height auto !important

  code
    line-height 1em !important

  ul, ol, pre, code
    text-align left !important

  pre code
    border 1px solid dimgray !important
    padding 5px !important
    border-radius 4px !important

  @page
    margin $print-page-margin !important

  .bespoke-slide
    box-sizing border-box !important
    display block !important
    float left !important
    border 2px solid black !important
    text-align center !important
    margin-top 0 !important
    margin-left 0 !important
    page-break-inside avoid !important

    // direct children of the slide are zoomed .65
    & > *
      zoom $child-zoom !important

    // grandchildren (and on) are zoomed .65 * .85(pow(depth))
    & > * *
      zoom $grand-child-zoom !important

    // title-only slides are vertically centered: i still need to figure out how to do this
    /*
    & > h1:only-child,
    & > h2:only-child,
    & > h3:only-child,
    & > h4:only-child,
    & > h5:only-child,
    & > h6:only-child
      line-height: 7em;
    */
    & > h1:only-child,
    & > h2:only-child,
    & > h3:only-child,
    & > h4:only-child,
    & > h5:only-child,
    & > h6:only-child
      margin-top 4em !important

    .bespoke-bullet-inactive
      opacity 1 !important
      transform none !important
      transition none !important

    &:nth-child(6n), &:nth-of-type(6n)
      page-break-after always !important
      break-after page !important

@media print and (orientation: portrait)
  .bespoke-slide
    width $print-portrait-width * .45 !important
    height @width * .75 !important
    margin-right $print-portrait-width * .05 !important
    margin-bottom @margin-right

    &:nth-child(2n)
      margin-right 0 !important

  .bespoke-parent
    width $print-portrait-width !important

  & > img
    max-width $print-landscape-width * .45 * (1 / $child-zoom) !important

  img
    max-width $print-landscape-width * .45 * (1 / $grand-child-zoom) !important

@media print and (orientation: landscape)
  .bespoke-slide
    width $print-landscape-width * .3 !important
    height @width * .75 !important
    margin-right $print-landscape-width * .03 !important
    margin-bottom @margin-right

    &:nth-child(3n)
      margin-right 0 !important

  .bespoke-parent
    width $print-landscape-width !important

  & > img
    max-width $print-landscape-width * .3 * (1 / $child-zoom) !important

  img
    max-width $print-landscape-width * .3 * (1 / ($grand-child-zoom)) !important
